@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #181a21;
    --secondary-color: #0f1115;
    --tertiary-color: #343434;
    --quaternary-color: #1d1f26;
    --text-color: #ffffff;
    --sec-text-color: #828897;
    --card-radius: 14px;
    --alive-color: #4afd65;
    --dead-color: #d4312d;
    --unknown-color: #828897;
}

::-webkit-scrollbar {
    background-color: var(--secondary-color);
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--tertiary-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--sec-text-color);
}

@layer utilities {
    .text-shadow-glow {
        text-shadow: 0 0 8px var(--alive-color);
    }
}

@layer components {

    .campo-filtro {
        @apply w-full h-10 mt-2 p-[5px_10px] rounded-md border border-tertiary bg-quaternary text-sec-text outline-none transition-all duration-200 hover:border-alive focus:border-alive cursor-pointer;
    }

    .label-filtro {
        @apply text-main-text font-medium mb-1;
    }
}